
.howitwork{
    height: 100%;
    background-image: url(https://res.cloudinary.com/dypj8zqbm/image/upload/v1622039729/Group_9685_1_1_leqkto.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.howitwork-wrapper-title{
    padding: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howitwork-wrapper-title h2{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 700;
}

.howitwork-wrapper-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-title{
    width: 30%;
}

.how-title h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 960px) {

    .howitwork-wrapper-item{
        flex-direction: column;
    }

    .howitwork-wrapper-title{
        padding: 20px 0px;
        width: 100%;
    }
    
    .howitwork-wrapper-title h2{
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-weight: 600;
    }

    .how-title{
        width: 80%;
    }
    
    .how-title h3{
        font-size: 18px;
        font-weight: 400;
       
    }

}
